//- site-footer

footer.site-footer

	.footer-content
		p This is a paragraph in the footer.

	.creds
		p
			| Built with
			i.fa.fa-heart
			|  by Tube Media Co. |
			a(href="http://tubemedia.co/contact-us/") Contact Us
