//- sidebar

.sidebar
	h3 This is the Sidebar header 3

	p This is a regular old paragraph. Super duper interesting, I know! I'll probably ramble on for another line or two so that I can test the line-height and then

	h3 This is the Sidebar header 3

	p This is a regular old paragraph. Super duper interesting, I know! I'll probably ramble on for another line or two so that I can test the line-height and then

	h3 This is the Sidebar header 3

	p This is a regular old paragraph. Super duper interesting, I know! I'll probably ramble on for another line or two so that I can test the line-height and then
