/* ==|====================
 * Base / Base
 * ======================= */

// Susy Settings

// Susy Settings
$susy: (
  container: $container__max-width,
  container-position: center,
  columns: 12,
  gutters: 1 / 4,
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  last-flow: to,
  global-box-sizing: border-box,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: background,
    toggle: top left
  )
);


html {
  // sass-lint:disable-block no-vendor-prefixes
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  font-size: $text__size--base;
  height: 100%;
  line-height: $text__line-height--base;
}


* {
  &::before,
  &::after {
    box-sizing: inherit;
  }

  &:hover {
    transition: $base__transition;
  }
}

body {
  // sass-lint:disable-block no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  background-color: $color__body;
  color: $text__color--base;
  font-family: $text__family--sans;
  font-size: $text__size--base;
  line-height: $text__line-height--base;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.container {
  @include container;
}
