//- features (3rd section on home page)

section.features

	h2.no_show

	.features-wrapper

		.feature
			h3 First Feature
			p As when the stricken whale, that from the tub has reeled out hundreds of fathoms of rope; as, after deep sounding, he floats up again, and shows the slackened curling line buoyantly.

		.feature
			h3 Second Feature
			p Rising and spiralling towards the air; so now, Starbuck saw long coils of the umbilical cord of Madame Leviathan, by which the young cub seemed still tethered to its dam.

		.feature
			h4 Third Feature
			p Meanwhile, as we thus lay entranced, the occasional sudden frantic spectacles in the distance evinced the activity of the other boats, still engaged in drugging the whales on the frontier of the host.
