//- reviews (4th section on home page)

section.reviews
	.section-wrapper

		h2 This Panel Showcases Reviews

		blockquote.has_image

			.review-wrapper
				i.fa.fa-quote-left(title="Open Quote")
				p In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing.
				i.fa.fa-quote-right(title="End Quote")

			cite
				img(src='https://unsplash.it/200/300?image=838', alt="Happy Customer")
				p - David Bowie


		blockquote.has_image

			cite
				img(src='https://unsplash.it/200/300?image=836', alt="Happy Customer")
				p - Linda Barret

			.review-wrapper
				i.fa.fa-quote-left(title="Open Quote")
				p In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing.
				i.fa.fa-quote-right(title="End Quote")

		blockquote.has_no_image

			.review-wrapper
				i.fa.fa-quote-left(title="Open Quote")
				p In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing.
				i.fa.fa-quote-right(title="End Quote")

			cite
				p - Bob Barker
