//- Resources Page

extends ../partials/_base.pug

prepend head
	//- dynamic body class as a variable.
	- var bodyClass = 'page-body-class'

block title
	title Page Title


block content

	article

		h2 This is the resources page!
